body {
  font-family: 'Roboto', sans-serif; }

#intro {
  margin-top: 20px; }

#introtext p {
  color: #325d79;
  font-size: 0.813em;
  line-height: 1.538em;
  text-align: center; }

#introtext {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-top: 15px; }

#textbackground {
  background-color: #EFEEEE; }

#activitybg {
  background-color: #F9a26c; }

#bubblesbg {
  background-color: #EFEEEE;
  padding-bottom: 10px; }

#graphdiv {
  margin-bottom: 30px; }

#activitydiv {
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px; }

#hashtag_likediv {
  margin-bottom: 20px; }

#notif1 {
  opacity: 0; }

#notif2 {
  opacity: 0; }

#notif3 {
  opacity: 0; }

#pizza_x5F_icon:hover {
  opacity: 0.7;
  cursor: pointer; }

#photo_x5F_icon:hover {
  opacity: 0.7;
  cursor: pointer; }

#world_x5F_icon:hover {
  opacity: 0.7;
  cursor: pointer; }

#threetext {
  display: none; }

#fourtext {
  display: none; }

#sixtext {
  display: none; }

#eighttext {
  display: none; }

#bubbles {
  padding-top: 30px;
  padding-bottom: 20px; }

#like {
  padding-top: 20px; }

#hashtag {
  padding-top: 20px; }

.percent {
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-size: 1.1em;
  color: #F26627;
  text-transform: uppercase; }

.percent2 {
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-size: 1.1em;
  color: #F26627;
  text-transform: uppercase; }

.fact {
  font-weight: 100;
  margin: 0;
  font-size: 0.9em;
  color: #F26627; }

/* -----------------------MEDIA QUERIES--------------------------- */
@media screen and (min-width: 300px) {
  #activitydiv {
    margin-bottom: 10px; } }
@media screen and (min-width: 400px) {
  .percent {
    font-size: 1.3em; }

  .percent2 {
    font-size: 1.3em; }

  .fact {
    font-size: 1.1em; } }
@media screen and (min-width: 500px) {
  #like {
    padding-top: 25px; }

  #hashtag {
    padding-top: 25px; }

  .percent {
    font-size: 1.4em; }

  .percent2 {
    font-size: 1.4em; }

  .fact {
    font-size: 1.2em; }

  #introtext p {
    font-size: 1em;
    line-height: 1.538em;
    text-align: center; } }
@media screen and (min-width: 600px) {
  #introtext p {
    font-size: 1.15em;
    line-height: 1.538em;
    text-align: center; }

  .percent {
    font-size: 1.5em; }

  .percent2 {
    font-size: 1.5em; }

  .fact {
    font-size: 1.3em; }

  #like {
    padding-top: 30px; }

  #hashtag {
    padding-top: 30px; } }
@media screen and (min-width: 700px) {
  #bubblesbg {
    padding-bottom: 20px; } }
@media screen and (min-width: 900px) {
  #bubbles {
    padding-top: 40px; }

  .percent {
    font-size: 1.6em; }

  .percent2 {
    font-size: 1.6em; }

  .fact {
    font-size: 1.4em; } }
@media screen and (min-width: 1024px) {
  #introtext p {
    font-size: 1.2em; }

  #graphdiv {
    padding-top: 15px; } }
@media screen and (min-width: 1200px) {
  #like {
    padding-top: 40px; }

  #hashtag {
    padding-top: 40px; }

  #bubbles {
    padding-top: 50px;
    padding-bottom: 30px; }

  #introtext p {
    font-size: 1.3em;
    line-height: 1.6em; }

  .percent {
    font-size: 1.9em; }

  .percent2 {
    font-size: 1.9em; }

  .fact {
    font-size: 1.8em; } }

/*# sourceMappingURL=main.css.map */
