@import '_vars';

body
{
    font-family: 'Roboto', sans-serif;
}

#intro
{
    margin-top: 20px;
}

#introtext p
{
    color: $blue;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
}

#introtext
{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

#graphdiv
{
    margin-bottom: 20px;
}

#activitydiv
{
    margin-bottom: 20px;
}

#hashtag_likediv
{
    margin-bottom: 20px;
}

#notif1
{
    opacity: 0;
}

#notif2
{
    opacity: 0;
}

#notif3
{
    opacity: 0;
}

#pizza_x5F_icon:hover
{
    opacity: 0.7;
    cursor: pointer;
}

#photo_x5F_icon:hover
{
    opacity: 0.7;
    cursor: pointer;
}

#world_x5F_icon:hover
{
    opacity: 0.7;
    cursor: pointer;
}

#bubbles
{
    padding-top: 100px;
}




